// page-action-sheets {
//     .action-sheets-basic-page {
//         .ion-md-share {
//             color: #ED4248;
//         }
//         .ion-md-arrow-dropright-circle {
//             color: #508AE4;
//         }
//         .ion-md-heart-outline {
//             color: #31D55F;
//         }
//         .action-sheets-cancel ion-icon,
//         .action-sheets-destructive ion-icon {
//             color: #757575;
//         }
//     }
// }
.action-sheets-basic-page {
    .ion-md-share {
        color: #ED4248;
    }
    .ion-md-arrow-dropright-circle {
        color: #508AE4;
    }
    .ion-md-heart-outline {
        color: #31D55F;
    }
    .action-sheets-cancel ion-icon,
    .action-sheets-destructive ion-icon {
        color: #757575;
    }
}